<h1>Мой html</h1>
<table border="6px">
    <tr height="20px">
        <td>заголовок 1</td>
        <td>заголовок 1</td>
        <td>заголовок 1</td>
    </tr>
    <tr height="{{a}}px">
        <td colspan="2" style="background-color: #{{color1}}">1.1</td>
        <td>1.3&nbsp;test</td>
    </tr>
    <tr>
        <td height="{{b}}" style="background-color: #{{color2}}" >2.1</td>
        <td>2.2</td>
        <td>2.3</td>
    </tr>
    <tr>
        <td>3.1</td>
        <td height="{{c}}">3.2</td>
        <td>3.3</td>
    </tr>    
</table>
<select name="testselect">
    <option value="55">пять пять</option>
</select>
